a.btn{
  display: inline-block;
}
form.btn{
  display: inline-block;
}
form.btn>button, a.btn{
  padding: 10px 20px;
  border: 1px solid #55b;
  border-radius: 15px;
  color: #55b;
  background-color: unset;
}
:is(form.btn>button, a.btn):hover{
  background-color: #55b;
  color: #fff;
  cursor: pointer;
}